.form-post {
    display: flex;
    flex-direction: column;
    gap: 10px;

    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 20px;
    padding: 0 5rem;
    margin-top: 32px;
    margin-bottom: 32px;
}

.input_post,
textarea {
    font-family: "Poppins";
    padding: 16px;
    margin-bottom: 10px;
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
textarea:focus {
    border-color: #007bff;
    outline: none;
}

label {
    display: block;
}

button {
    margin-bottom: 16px;
}

/* Dark Mode */

.dark .form-post {
    background-color: var(--color-dark-gray);
    border: 1px solid var(--color-black);
    box-shadow: 0 4px 8px 0 var(--color-black);
}

.dark .input_post {
    color: var(--color-white);
    background-color: var(--color-black);
}

.dark input[type="text"]:focus,
.dark textarea:focus {
    border-color: var(--color-white);
    outline: none;
}