.post-details {
    width: 70vw;    
    display: flex;
    flex-direction: column;
    padding: 1rem 3.2rem;
    text-align: justify;
}

.post-details h2 {
    font-size: 2rem;
}

.post-details p {
    font-size: 1.1rem;
    line-height: 25px;
    padding: 16px 0;
    letter-spacing: 1px;
}